In [29]:
import numpy as np

arr = np.arange(50, 101)
print("Array:")
print(arr)

Array:
[ 50  51  52  53  54  55  56  57  58  59  60  61  62  63  64  65  66  67
  68  69  70  71  72  73  74  75  76  77  78  79  80  81  82  83  84  85
  86  87  88  89  90  91  92  93  94  95  96  97  98  99 100]

In [30]:
import numpy as np

arr = np.concatenate((np.ones(10), np.zeros(10), 6 * np.ones(10)))
print("Task 2 Array:")
print(arr)

Task 2 Array:
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 6. 6. 6. 6.
 6. 6. 6. 6. 6. 6.]

In [22]:
import numpy as np

arr = np.arange(20, 32).reshape(3, 4)
print("Array:")
print(arr)

Array:
[[20 21 22 23]
 [24 25 26 27]
 [28 29 30 31]]

In [26]:
import numpy as np

arr_task = np.eye(3)
print("Array:")
print(arr)

Array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]

In [24]:
import numpy as np

arr = np.diag(np.arange(1, 6))
print("Array:")
print(arr)

Array:
[[1 0 0 0 0]
 [0 2 0 0 0]
 [0 0 3 0 0]
 [0 0 0 4 0]
 [0 0 0 0 5]]

In [25]:
import numpy as np

arr = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
total_sum = np.sum(arr)
column_sums = np.sum(arr, axis=0)
row_sums = np.sum(arr, axis=1)

print("Task 6 Array:")
print(arr)
print("Total Sum:", total_sum)
print("Column Sums:", column_sums)
print("Row Sums:", row_sums)

Task 6 Array:
[[1 2 3]
 [4 5 6]
 [7 8 9]]
Total Sum: 45
Column Sums: [12 15 18]
Row Sums: [ 6 15 24]

In [34]:
import numpy as np

np.random.seed(0)

# Toglogchdiin too
num_players = 10
num_years = 10

# Tsalingiin data uusgeh
tsalin = np.random.randint(1, 20, size=(num_players, num_years)) * 1000000

# Niit togloson tooni data uusgeh
togloson = np.random.randint(0, 40, size=(num_players, num_years))

# Goal hiisen tooni data
goal = np.random.randint(0, 40, size=(num_players, num_years))

# toglogch bolgon deer array uusgeh
player_data = []

for player_idx in range(num_players):
    player_tsalin = tsalin[player_idx]
    player_togloson = togloson[player_idx]
    player_goal = goal[player_idx]
    
    player_array = np.array([player_tsalin, player_togloson, player_goal])
    player_data.append(player_array)

# Convert player_data to a NumPy array
players_array = np.array(player_data)

# Calculate the sum of columns and rows for each player
column_sums = np.sum(players_array, axis=1)
row_sums = np.sum(players_array, axis=0)

# Print the data and sums
for player_idx in range(num_players):
    print(f"Player {player_idx + 1} Data:")
    print("tsalin ( $ million):", players_array[player_idx, 0])
    print("togloson:", players_array[player_idx, 1])
    print("goal:", players_array[player_idx, 2])
    print("Column Sums:", column_sums[player_idx])
    print()

print("toglogchdin data niit:")
print("tsalin ( $ million):", row_sums[0])
print("togloson:", row_sums[1])
print("goal:", row_sums[2])

Player 1 Data:
tsalin ( $ million): [13000000 16000000  1000000  4000000  4000000  8000000 10000000 19000000
  5000000  7000000]
togloson: [23  2 34 35 30  3 18 35 20 17]
goal: [ 3 26  3 31  9 10 27  7 39 21]
Column Sums: [13000026 16000028  1000037  4000066  4000039  8000013 10000045 19000042
  5000059  7000038]

Player 2 Data:
tsalin ( $ million): [13000000  2000000  7000000  8000000 15000000 18000000  6000000 14000000
  9000000 10000000]
togloson: [27 14  1 36 10 22 11  2 16 32]
goal: [33 34 34 24 33  5 36  0 11 34]
Column Sums: [13000060  2000048  7000035  8000060 15000043 18000027  6000047 14000002
  9000027 10000066]

Player 3 Data:
tsalin ( $ million): [17000000  6000000 16000000 16000000  1000000 19000000  4000000 18000000
 15000000  8000000]
togloson: [ 0 38 19 13 30 24  2  3 30 34]
goal: [ 5 16  8  1 17 35 27 36 25  3]
Column Sums: [17000005  6000054 16000027 16000014  1000047 19000059  4000029 18000039
 15000055  8000037]

Player 4 Data:
tsalin ( $ million): [ 1000000  2000000 10000000  1000000 11000000  4000000 12000000 19000000
  3000000  1000000]
togloson: [13  8 19 31  8 26  2  3 14 32]
goal: [39 35 30 29 33 18 17 29 20  2]
Column Sums: [ 1000052  2000043 10000049  1000060 11000041  4000044 12000019 19000032
  3000034  1000034]

Player 5 Data:
tsalin ( $ million): [ 1000000  5000000  6000000  7000000  9000000 18000000 16000000  5000000
 10000000 11000000]
togloson: [ 4  3 11 22 13 11 16 24 29 21]
goal: [ 5 37 12  2 27 21 39 39 11 22]
Column Sums: [ 1000009  5000040  6000023  7000024  9000040 18000032 16000055  5000063
 10000040 11000043]

Player 6 Data:
tsalin ( $ million): [ 2000000  2000000  8000000 10000000  4000000  7000000 12000000 15000000
 19000000  1000000]
togloson: [25 16 19 33 32 36  6 21 31 13]
goal: [30 17  6  7 18 28 19 29 21  9]
Column Sums: [ 2000055  2000033  8000025 10000040  4000050  7000064 12000025 15000050
 19000052  1000022]

Player 7 Data:
tsalin ( $ million): [15000000  4000000 13000000 11000000 12000000  5000000  7000000  5000000
 16000000  4000000]
togloson: [ 7 24 15 18 15 11 38 29  1 31]
goal: [25 32 27  9 28 17  0 22 16 36]
Column Sums: [15000032  4000056 13000042 11000027 12000043  5000028  7000038  5000051
 16000017  4000067]

Player 8 Data:
tsalin ( $ million): [13000000  5000000  9000000 15000000 16000000  4000000 16000000 14000000
 17000000 18000000]
togloson: [24 24  3 18  3 12 38 35 22  5]
goal: [30 24  3  8 27 29 23 32 19  8]
Column Sums: [13000054  5000048  9000006 15000026 16000030  4000041 16000061 14000067
 17000041 18000013]

Player 9 Data:
tsalin ( $ million): [ 6000000 10000000  4000000  1000000  6000000  1000000 18000000 19000000
  5000000  3000000]
togloson: [23 32 11 20 10 37 28  2 27 19]
goal: [ 7 23 13 17  0 11 28 36 25 32]
Column Sums: [ 6000030 10000055  4000024  1000037  6000010  1000048 18000056 19000038
  5000052  3000051]

Player 10 Data:
tsalin ( $ million): [17000000  4000000  3000000 11000000 14000000 17000000  8000000 10000000
  1000000 11000000]
togloson: [25 23 20 29  3 35 39  9  9 23]
goal: [14 22 28 20 18  4 22 35 19  7]
Column Sums: [17000039  4000045  3000048 11000049 14000021 17000039  8000061 10000044
  1000028 11000030]

toglogchdin data niit:
tsalin ( $ million): [ 98000000  56000000  77000000  84000000  92000000 101000000 109000000
 138000000 100000000  74000000]
togloson: [171 184 152 255 154 217 198 163 199 227]
goal: [191 266 164 148 210 178 238 265 206 174]